# build files / configuration
bazel-*
MODULE.bazel*
# *.json
*.pyc
*.venv

# personal
*.bin
*.zip
*.pdf

# dexterity IP
simulator/configs/urdf_files/dex/*
simulator/point_cloud_data_generator/graphics*
experiment_results/*